@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.containers {
    width: 100%;
    padding: 0 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    background: black;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
}
.top{
    display: flex;
    align-items: center;
}

nav img {
    background: white;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 20px;
}

.navbar .container {
    height: 100%;
    width: 100%;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}


.navbar ul li {
    margin-left: 20px;
    text-decoration: none;
}

a:hover {
    color: aqua;
}
li:hover {
    transform: scale(1.1);
}

.header {
    background: #100c2b;
    width: 100%;
    color: white;
    height: 180px;
    padding-top: px;
}

.header h1 {
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 50px;
    padding-top: 105px;
}

section h2 {
    margin-left: 50px;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    margin-top: 50px;
}

section h3 {
    margin-left: 50px;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    height: 0.5px;
    background: #100c2b;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
}

section img {
    width: 776px;
    height: 405px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.image-list {
    width: 100%;
    height: 100%;
}

.image-list img {
    width: 650px;
    height: 405px;
    margin: 0 -5px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
}

p {
    margin-left: 50px;
    margin-top: 30px;
    padding-right: 270px;
    font-size: 15px;
}

h3 {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: -15px;
    color: #100c2b;
}

footer {
    margin-left: 0px;
    margin-top: 30px;
    background: #100c2b;
    height: 75px;
    color: white;
}

footer p {
    padding-top: 30px;
    font-weight: bolder;
    font-size: 16px;
}

footer a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
}

.social-media {
    float: right;
    margin-top: -35px;
    margin-right: 40px;
    font-size: 30px;
}

#line {
    display: none;
}

.checkbtn {
    font-size: 30px;
    float: right;
    display: none;
}

#check {
    display: none;
}
.times{
    font-size: 30px;
    visibility: hidden;
}


@media (max-width: 952px) {
    .navbar {
        width: 100%;
        height: 80px;
    }


    nav img {
        width: 45px;
    }

    .logo {
        font-size: 25px;
    }

    .container {
        width: 100%;
        overflow: hidden;
    }

    .header {
        width: 100%;
        color: white;
        height: 180px;
    }
     
    .header h1 {
        font-size: 25px;
        margin-left: 5px;
        text-align: center;
        padding-top: 95px;
    }

    section h2 {
        margin-left: 10px;
        margin-top: 20px;
    }

    section h3 {
        margin-left: 10px;
        margin-top: -5px;
    }

    hr {
        margin-left: 5px;
        margin-right: 5px;
    }

    section img {
        width: 100%;
        height: auto;
        margin-left: 0;
        border-radius: 0;
    }

    .image-list img {
        width: 100%;
        height: auto;
        margin-left: 0;
        border-radius: 0;
    }

    p {
        margin-left: 5px;
        padding-right: 20px;
    }

    h3 {
        margin-left: 5px;
    }

    footer {
        height: 140px;
    }

    footer p {
        margin-left: 0px;
        margin-top: -20px;
        text-align: center;
        font-size: 14px;
    }

    .social-media {
        float: none;
        text-align: center;
        margin-top: 15px;
    }
}

@media (max-width: 700px) {
    .checkbtn {
        display: block;
    }

    .header {
        width: 100%;
    }

    .times{
        visibility: visible;
        position: absolute;
        top: 1rem;
        right: 25px;
    }

    ul {
        position: absolute;
        background: #21222A;;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
    }

    .navbar ul li {
        text-transform: uppercase;
        
    }
    li a{
        margin-top: 90px; 
        display: grid; 
        align-items: center;
    }
    ul a{
        height: 45px;
        margin-bottom: -60px;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
        margin: 0;
    }

}