* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.container {
    width: 100%;
    padding: 0 30px;
    margin: 0;
}

.navbar {
    background: black;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
}

nav img {
    background: white;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    margin-left: 60px;
    float: right;
    margin-top: -30px;
}

.logo {
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
    margin-top: -50px;
    margin-left: 70px;
}

.logo:hover {
    color: aqua;
}

.navbar .container {
    height: 100%;
    width: 100%;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}


.navbar ul li {
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: aqua;
}

li:hover {
    transform: scale(1.1);
}

.header {
    background: #483d8b;
    width: 100%;
    color: white;
    height: 180px;
}

.header h1 {
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 50px;
    padding-top: 105px;
}

.top-text {
    background: #333;
    width: 100%;
    color: white;
    height: 50px;
}


.top-text h2 {
    margin-left: 50px;
    text-transform: uppercase;
    font-size: large;
    padding-top: 15px;
    font-weight: bolder;
    font-family: sans-serif;
}

section .box {
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #483d8b;
    border-radius: 20px;
}

.box h3 {
    padding: 9px;
}

.box-active {
    background: linear-gradient(#e3e3e3, white);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.box-active h2 {
    margin-left: 70px;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    padding-top: 30px;
    color: #333;
}

.box-active hr {
    margin-left: 70px;
    margin-right: 70px;
    background: #483d8b;
    border: none;
    height: 0.5px;
}

.box-active h4 {
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 70px;
    color: #483d8b;
}

.box-active p {
    margin-left: 70px;
    margin-top: 10px;
}

h4 {
    margin-left: 120px;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
    color: #483d8b;
}

.btn {
    margin-left: 120px;
    text-transform: uppercase;
    font-weight: bold;
    color: #483d8b;
    height: 30px;
    border-color: #483d8b;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover {
    color: black;
    transform: scale(1.1);
}

.small-12 p {
    margin-left: 120px;
    margin-top: 20px;
}

.small-12 hr {
    margin-left: 120px;
    margin-right: 110px;
    margin-top: 25px;
    border: none;
    background: #333;
    height: 0.5px;
}

.small-12 a:hover {
    color: blue;
}

.content-support p {
    margin-left: 115px;
    padding-right: 442px;
    margin-top: 10px;
}

footer {
    margin-left: 0px;
    margin-top: 30px;
    background: #483d8b;
    height: 75px;
    color: white;
}

footer p {
    padding-top: 30px;
    font-weight: bolder;
    font-size: 16px;
}

footer a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
}

.social-media {
    float: right;
    margin-top: -35px;
    margin-right: 40px;
    font-size: 30px;
}

.contact-info {
    margin-bottom: 7px;
    margin-top: 17px;
}

#line {
    display: none;                                                           
}

.checkbtn {
    font-size: 30px;
    float: right;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px){
    .navbar {
        width: 100%;
        height: 80px;
    }


    nav img {
        width: 45px;
        margin-top: 17px;
        margin-left: -5px;
    }

    .logo {
        font-size: 25px;
        margin-left: 50px;
        margin-top: -45px;
    }

    .container {
        width: 100%;
        overflow: hidden;
    }

    .header {
        width: 100%;
        color: white;
        height: 150px;
    }
     
    .header h1 {
        font-size: x-large;
        margin-left: 5px;
    }
    .top-text {
        width: 100%;
    }

    .top-text h2 {
        margin-left: 5px;
    }

    section .box {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .box-active {
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

    

    .box-active h2 {
        margin-left: 5px;
        text-align: center;
    }

    .box-active h4 {
        margin-left: 5px;
    }

    .box-active p {
        margin-left: 5px;
    }

    .box-active hr {
        margin-left: -5px;
        margin-right: -5px;
    }

    .small-12 h4 {
        margin-left: 35px;
    }

    .btn {
        margin-left: 35px;
    }

    .small-12 p {
        margin-left: 35px;
    }

    .small-12 hr {
        margin-right: 35px;
        margin-left: 35px;
    }
    
    .content-support h4 {
        margin-left: 35px;
    }

    .content-support p {
        margin-left: 35px;
        padding-right: 35px;
    }

    footer {
        height: 140px;
    }

    footer p {
        margin-left: 0px;
        margin-top: -20px;
        text-align: center;
        font-size: 14px;
    }

    .social-media {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}



@media (max-width: 600px) {
    .checkbtn {
        display: block;
        margin-top: -45px;
    }

    ul {
        position: absolute;
        background: #333;
        width: 100%;
        height: 100vh;
        top: 110px;
        right: 0;
        z-index: 2;
    }
    .navbar ul li {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 15px;
        text-transform: uppercase;
        text-align: center;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }

    #line {
        display: block;
        height: 0.5px;
        background: black;
        border: none;
    }
}