@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: url(benz.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}

.containers {
    width: 100%;
    padding: 0 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    background: black;
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

nav img {
    background: white;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.top{
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 20px;
}
.navbar .container {
    height: 100%;
    width: 100%;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar ul li {
    margin-left: 20px;
    text-decoration: none;
}

a:hover {
    color: aqua;
}
li:hover {
    transform: scale(1.1);
}

.form .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 30px;
    border-bottom: solid rgb(16, 176, 230);
    margin-bottom: 20px;
    text-align: center;
}

.box {
    background: rgb(0,0,0,0.7);
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin-top: 180px;
}

.input-field {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgb(16, 176, 230);
    margin: 5px 0;
    padding: 8px 0;
}

.input-field input {
    border: none;
    outline: none;
    background: none;
    height: 30px;
    width: 250px;
    color: white;
    font-size: 16px;
    margin: 0 15px;
}

.btn {
    margin-bottom: 10px;
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    background: rgb(0,0,0,0.5);
    color: white;
    border:  1px solid rgb(16, 176, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 90px;
    padding-right: 90px;
}

.btn:hover {
    color: aqua;
    transform: scale(1.1);
}

.button-text {
    font-size: 16px;
    margin-top: 5px;
}

i {
    color: white;
    margin-left: 10px;
}

button {
    margin: auto;
}



.checkbtn {
    font-size: 30px;
    float: right;
    display: none;
}

#check {
    display: none;
}
.times{
    font-size: 30px;
    visibility: hidden;
}

@media only screen and (max-width: 952px) {
    .navbar {
        width: 100%;
        height: 80px;
    }
    
    .container {
        width: 100%;
        overflow: hidden;
        
    }

    .box {
        width: 400px;
        height: auto;
        margin-top: 200px;
        margin-left: 20px;
        margin-right: 20px;
    }

    nav img {
        width: 45px;
       
    }

    .logo {
        font-size: 25px;
        
    } 

    .input-field i {
        font-size: 16px;
        margin-left: 17px;
    }

    p {
        font-size: 16px;
        margin-left: 17px;
    }

    body {
        line-height: 1.5;
    }

    .btn {
        height: 37px;
        padding: 0 80px;
    }
    
    .button-text {
        margin-top: 8px;
    }
}

@media (max-width: 600px){
    .checkbtn {
        display: block;
    }

    .times{
        visibility: visible;
        position: absolute;
        top: 1rem;
        right: 25px;
    }
    li a{
      margin-top: 90px; 
      display: grid; 
      align-items: center;
    }
    ul a{
        height: 45px;
        color: aqua;
        margin-bottom: -60px;
    }
    ul {
        position: absolute;
        background: #21222A;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
    }

    .navbar ul li {
        text-transform: uppercase;
    }

    #menuList {
        overflow: hidden;
        margin: 0;
        transition: 0.5s;
    }
}


