* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.container {
    width: 100%;
    padding: 0 30px;
    margin: 0;
}

.navbar {
    background: black;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
}

nav img {
    background: white;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}


ul {
    list-style-type: none;
    margin-left: 60px;
    float: right;
    margin-top: -30px;
}

.logo {
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
    margin-top: -50px;
    margin-left: 70px;
}

.logo:hover {
    color: aqua;
}
.navbar .container {
    height: 100%;
    width: 100%;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}


.navbar ul li {
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: aqua;
}
li:hover {
    transform: scale(1.1);
}

.boxes .container {
    background: #e3e3e3;
    display: grid;
    width: 100%;
}

.box img {
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box {
    background: white;
    margin: 20px 10px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.box-section {
    background: white;
    margin: 20px 10px;
    width: 400px;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.box-section img {
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1 {
    font-family: cursive;
    font-size: x-large;
    text-align: center;
}

h3 {
    margin-top: 16px;
    margin-left: 10px;
}

p {
    font-style: italic;
    text-align: center;
}

#line {
    display: none;                                                           
}

.checkbtn {
    font-size: 35px;
    float: right;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px){
    .navbar {
        width: 100%;
        height: 80px;
    }


    nav img {
        width: 45px;
        margin-top: 17px;
        margin-left: -5px;
    }

    .logo {
        font-size: 25px;
        margin-left: 50px;
        margin-top: -45px;
    }

    .container {
        width: 100%;
        overflow: hidden;
    }

    .box-section {
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 110px;
    }

    .box-section img {
        margin: auto;
        width: 100%;
    }

    .box {
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .box img {
        margin: auto;
        width: 100%;
    } 

}

@media (max-width: 600px) {
    .checkbtn {
        display: block;
        margin-top: -45px;
    }

    ul {
        position: absolute;
        background: #333;
        width: 100%;
        height: 100vh;
        top: 110px;
        right: 0;
        z-index: 2;
        text-align: center;
    }

    .navbar ul li {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 15px;
        text-transform: uppercase;
        
    }
    

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }

    #line {
        display: block;
        height: 0.5px;
        background: black;
        border: none;
    }

}



